<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Forgot Password | {{username}}</title>
</head>

<body>
    <h1>Forgot Password</h1>
    <h2>Welcome Back!!! {{username}}!</h2>
    <p>
        Here is your link to reset your password - <a href="{{resetLink}}">Reset Password</a>
    </p>
</body>

</html>